.filterOptions{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: left;
}

.filterOptions > .text{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    color: gray;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
}

.filterOption{
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer; 
    margin-left: 10px;
    color: gray;
    font-weight: 300;
    font-size: 14px;
}

.filterOption:hover{
    background: rgb(211, 211, 211);
    border-radius: 5px;
}

