.spaces{
width: 700px;
min-width: fit-content;
}
.Notifications{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px;
    margin-left: 10px;
    color: gray;
    font-weight: 400;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    /* max-width: 800px; */
}

.Notifications > h5 {
    display: flex;
    align-items: center;
    color: gray;
    font-weight: 400;
    font-size: 16px;
    font-weight: bold;
}
.Notifications > p{
    color: gray;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer; 

}